body {
    background:url("rockywall.png");
    z-index: 0;
    margin:0;
    padding:0;
}

#main-content{
    padding-top:10px;
    padding-bottom:10px;
    padding-right:0px;
    padding-left:0px;
    background-color:white;
    z-index: 1;
    width:75%;
    margin-right:auto;
    margin-left:auto;
    margin-top: 15px;
    position:fixed;
    left:12.5%;
}

h2{
    border-style:solid;
    border-top:0px;
    border-right:0px;
    border-bottom:3px #cccccc;
    border-left:0px;
    padding:10px;
}

#data-boxes {
    padding:10px;
}