#footer-parent {
    background: #666666;
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    border-top: 3px solid #4aaaa5;
    /*
    padding-top:5px;
    padding-right:;
    padding-bottom:5px;
    padding-left:;

    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    
    border-style:solid;
    border-color:#4aaaa5;
    border-top:20px;
    border-right:0px;
    border-bottom:0px;
    border-left:0px;
    */
}

#footer-child{
    width:100%;
    height:100%;
    position:relative;
}

#copy-box{
    color:#ffffff;
    font-size:12px;
    position:absolute;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
    left:50%;
    padding-bottom:3px;
}